@font-face {
    font-family: "almarose";
    src: url(../assets/fonts/almarose/Almarose-Bold.otf);
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/lato/Lato-Regular.ttf);
}

$font-title: "almarose", sans-serif;
$font-text: "lato", sans-serif;

$color-main: #fd2d01;
$color-secondary: #fcd4d3;