@font-face {
    font-family: "signia_pro";
    src: url(../assets/fonts/signia_pro/SigniaPro-Bold.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/lato/Lato-Regular.ttf);
}

$font-title: "signia_pro", sans-serif;
$font-text: "lato", sans-serif;

$main-color: #fd2d01;
$secondary-color: #fcd4d3;

$light-theme-color: #FFF;
$dark-theme-color: rgba(0, 0, 0, 0.85);